@import "tailwindcss";

/* === LIGHT MODE (default) === */
:root {
  --background: #f9f9f9;
  --primary: #ba1111;
  --secondary: #b6abab;
  --accent: #3a3a3a;
  --text: #212427;
  --foreground: var(--text);
  --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --border-soft: color-mix(in srgb, var(--secondary) 35%, transparent);
}

.dark {
  --background: #1a1a1a;
  --primary: #c04900;
  --secondary: #2d2d2d;
  --accent: #ededed;
  --text: #f1f1f1;
  --foreground: var(--text);
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  --border-soft: color-mix(in srgb, var(--secondary) 35%, transparent);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-shadow: var(--shadow);
  --color-border-soft: var(--border-soft);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-poppins), sans-serif;
  margin: 0;
  padding: 0;
}

.timeline-scroll {
  scrollbar-width: none; /* Firefox */
}

.timeline-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
